// CONTENT BOX - contains all text info (other than 'work' section)
#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  #top, #bottom {
    // background-color: teal;
    flex: 0 0 150px;
  }
  #bottom.hide {
    display: none;
  }
  #middle {
    display: flex;
    flex: 1 0 auto;
    #left, #right {
      flex: 0 0 200px;
    }
  }
  @media only screen and (max-width : 768px) {
    #top, #bottom {
      display: none;
    }
    #left, #right {
      display: none;
    }
  }
  #contentBoxContainer {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &.process {
      align-items: inherit;
      #contentBox {
        max-height: none;
      }
    }
    @media only screen and (max-width : 768px) {
      // align-items: flex-end;
      // margin-top: 50px;
    }
    #contentBox {
      position: relative;
      display: flex;
      max-height: 600px;
      padding: 20px;
      background-color: rgba(0,0,0,0.5);
      // border: 10px solid #fff;
      @media only screen and (max-width : 768px) {
        margin: 0;
        border: none;
        font-size: .5em;
        h1 {
          font-size: .1em;
        }
        p {
          font-size: .6em;
        }
      }
      .subheading {
        margin-top: 0px;
      }

      #process {
        padding: 20px;
        min-width: 600px;
        .icon {
          display: inline-block;
          font-size: 50px;
          width: 50px;
          margin-right: 20px;
          text-align: center;
        }
        h2 {
          font-size: 3em;
          margin: 0;
          display: inline-block;
        }
        .details {
          margin-top: 20px;
          margin-bottom: 20px;
          margin-left: 22px;
          border-left: white dotted 4px;
          ul {
            margin: 10px 0;
            padding-top: 0px;
            padding-bottom: 20px;
            padding-left: 80px;
            font-size: .9em;
          }
        }
      }

      // CONTACT
      #contactContainer {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        min-width: 350px;
        @media only screen and (max-width : 768px) {
          min-width: 0;
        }
      }
      #contactBody {
        display: flex;
        flex: 1 0 auto;
        .text {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.2em;
          font-weight: 200;
        }
        .half {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1em;
          flex: 1 0 50%;
          text-align: center;
          a {
            margin-bottom: 35px;
          }
          .left { font-size: 10em; }
          .right {
            font-size: 8em;
            padding: 10px;
          }
          #iconBox {
            height: 150px;
          }
          @media only screen and (max-width : 768px) {
            font-size: .6em;
            margin-top: 10px;
            a {
              margin-bottom: 0;
            }
            .left { font-size: 7em; }
            .right {
              font-size: 5em;
              padding: 10px;
            }
            #iconBox {
              height: 70px;
            }
          }
        }
      }
      h1 {
        margin: 0;
        font-size: 3em;
      }
    }
  }
}
