@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@import 'variables.scss';
@import 'background.scss';
@import 'main.scss';
@import 'work.scss';
@import 'process.scss';


// GLOBAL
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  ::selection {
    background: rgb(43, 214, 199); /* WebKit/Blink Browsers */
  }
  a {
    text-decoration: inherit;
    color: #fff;
  }
}
#app, #app-container {
  min-height: 100%;
}

// MOBILE DRAWER MENU
#mobile-menu {
  position: absolute;
  padding: 20px;
  top: 0;
  left: -200px;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  box-shadow: 0px 0px 0px 0px black;
  transition: all 0.2s ease;
  z-index: 2;
  ul {
    margin: 25px 0;
    list-style-type: none;
    padding: 0;
    font-size: 1.6em;
    font-weight: 100;
    li {
      cursor: pointer;
      padding: 5px 10px;
    }
    a.active li {
      border-left: 5px solid #fff;
    }
  }
  &.open {
    left: 0px;
    box-shadow: 0px 0px 10px 0px black;
  }
}

// STICKY HEADER
#stickyHeader {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width : 768px) {
    background-color: rgba(0,0,0,0.9);
  }
  .logo {
    display: flex;
    align-items: center;
    img {
      @media only screen and (max-width : 768px) {
        margin-left: 10px;
      }
      margin-left: 20px;
      display: inline-block;
      vertical-align: middle;
      height: 60px;
      width: 60px;
      margin-right: 10px;
    }
    h1 {
      // margin-right: 40px;
      flex-shrink: 0;
    }
    span {
      font-weight: 200;
    }
    h2 {
      margin: 0 40px;
      font-size: .9em;
      font-weight: 200;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @media only screen and (max-width : 768px) {
        display: none;
      }
    }

  }
  .menu {
    flex-shrink: 0;
    margin-right: 20px;
    @media only screen and (max-width : 768px) {
      display: none;
    }
    a {
      padding: 0;
      font-size: 1.2em;
      font-weight: 200;
      cursor: pointer;
      padding: 5px 10px;
      margin: 0 1px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        // opacity: 0.8;
        // color: #000;
      }
      &.active {
        // border-bottom: 3px solid #fff;
        box-shadow:inset 0px -2px 0px #fff;
      }
    }
  }
  #menu-btn {
    padding: 20px;
    font-size: 1.5em;
    @media only screen and (min-width : 768px) {
      display: none;
    }
  }
}

// MISC
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
