@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@import 'variables.scss';
@import 'work.scss';
@import 'content.scss';
@import 'main.scss';
@import 'background.scss';

// GLOBAL
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  ::selection {
    background: rgb(43, 214, 199); /* WebKit/Blink Browsers */
  }
  a {
    text-decoration: inherit;
    color: #fff;
  }
}
#app, #app-container {
  min-height: 100%;
}

// MOBILE DRAWER MENU
#mobile-menu {
  position: absolute;
  padding: 20px;
  top: 0;
  left: -200px;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  box-shadow: 0px 0px 0px 0px black;
  transition: all 0.2s ease;
  ul {
    margin: 25px 0;
    list-style-type: none;
    padding: 0;
    font-size: 1.6em;
    font-weight: 100;
    li {
      cursor: pointer;
      padding: 5px 10px;
    }
    a.active li {
      border-left: 5px solid #fff;
    }
  }
  &.open {
    left: 0px;
    box-shadow: 0px 0px 10px 0px black;
  }
}

// MISC
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
