@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

// VARIABLES
$bkg-dark: rgba(50,50,50,1);
$bkg-light: rgba(255,255,255,1);

// GLOBAL
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  a {
    text-decoration: inherit;
    color: #fff;
  }
}
#app, #app-container {
  min-height: 100%;
}

// OVERLAY - Site title + desktop menu (above all other layers)
#overlay {
  position: absolute;
  @media only screen and (max-width : 768px) {
    width: 100%;
  }
  #header {
    flex: 0 0 auto;
    padding: 30px;
    z-index: 2;
    h1 {
      font-size: 4em;
      font-weight: 600;
      margin: 0;
    }
    span {
      font-weight: 100;
    }
    h2 {
      font-size: 1.2em;
      font-weight: 100;
      margin: 0;
      margin-top: 5px;
    }
    @media only screen and (max-width : 768px) {
      // background-color: rgba(0,0,0,.3);
      padding: 15px;
      padding-top: 10px;
      h1 {
        font-size: 3em;
      }
      h2 {
        font-size: 0.9em;
      }
      #menu-btn { display: inline-block; }
    }
  }
  #menu {
    flex: 0 0 auto;
    width: 300px;
    padding-left: 30px;
    ul {
      margin: 25px 0;
      list-style-type: none;
      padding: 0;
      font-size: 1.6em;
      font-weight: 100;
      li {
        cursor: pointer;
        padding: 5px 10px;
        &:hover {
          background-color: #fff;
          opacity: 0.8;
          color: #727272;
          font-weight: 300;
        }
      }
      a.active li {
        border-left: 5px solid #fff;
      }
    }
    @media only screen and (max-width : 768px) {
      background-color: rgba(0,0,0,0.5);
      margin-left: 15px;
      margin-right: 15px;
      width: 60%;
      padding: 0;
      ul { padding: 10px; }
    }
  }
}

// CONTENT BOX - contains all text info (other than 'work' section)
#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  #top, #bottom {
    // background-color: teal;
    flex: 0 0 150px;
  }
  #middle {
    display: flex;
    flex: 1 0 auto;
    #left, #right {
      flex: 0 0 200px;
    }
  }
  @media only screen and (max-width : 768px) {
    #top, #bottom {
      display: none;
    }
    #left, #right {
      display: none;
    }
  }
  #contentBoxContainer {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width : 768px) {
      // align-items: flex-end;
      // margin-top: 50px;
    }
    #contentBox {
      position: relative;
      display: flex;
      max-height: 600px;
      overflow: auto;
      padding: 20px;
      background-color: rgba(0,0,0,0.5);
      border: 10px solid #fff;
      @media only screen and (max-width : 768px) {
        margin: 0;
        border: none;
        font-size: .5em;
        h1 {
          font-size: .1em;
        }
        p {
          font-size: .6em;
        }
      }
      .subheading {
        margin-top: 0px;
      }

      // CONTACT
      #contactContainer {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        min-width: 350px;
        @media only screen and (max-width : 768px) {
          min-width: 0;
        }
      }
      #contactBody {
        display: flex;
        flex: 1 0 auto;
        .text {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.2em;
          font-weight: 200;
        }
        .half {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1em;
          flex: 1 0 50%;
          text-align: center;
          a {
            margin-bottom: 35px;
          }
          .left { font-size: 10em; }
          .right {
            font-size: 8em;
            padding: 10px;
          }
          #iconBox {
            height: 150px;
          }
          @media only screen and (max-width : 768px) {
            font-size: .6em;
            margin-top: 10px;
            a {
              margin-bottom: 0;
            }
            .left { font-size: 7em; }
            .right {
              font-size: 5em;
              padding: 10px;
            }
            #iconBox {
              height: 70px;
            }
          }
        }

      }

      h1 {
        margin: 0;
        font-size: 3em;
      }
    }
  }
  .ourWork-leave {
    opacity: 1;
    &.ourWork-leave-active {
      opacity: 0;
    }
  }
  #ourWork {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    overflow: hidden;
    &.ourWork-appear {
      opacity: 0;
      &.ourWork-appear-active {
        opacity: 1;
      }
    }
    #viewer {
      height: 100%;
      width: 100%;
      // border: 10px solid #fff;
      // overflow: hidden;

      // gradient (66% to right)
      background: $bkg-light;
      background: -moz-radial-gradient(50% 50%, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
      background: -webkit-gradient(radial, 50% 50%, 0px, center center, 100%, color-stop(0%, $bkg-light), color-stop(100%, $bkg-dark));
      background: -webkit-radial-gradient(50% 50%, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
      background: -o-radial-gradient(50% 50%, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
      background: -ms-radial-gradient(50% 50%, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
      background: radial-gradient(ellipse at 50% 50%, $bkg-light 0%, $bkg-dark 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa', GradientType=1 );

      #slideWrapper {
        display: flex;
        transition: all .5s ease;
      }
    }
    .slide {
      position: relative;
      height: 100%;
      width: 100%;
      flex: 0 0 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      @media only screen and (max-width : 768px) {
        background-size: auto 70%;
      }
      .detailsBox {
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px;
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 40px;
        cursor: pointer;
        transition: all 0.5s ease;
        &.open {
          bottom: -100px;
        }
        p {
          margin: 0;
          font-size: .8em;
        }
        h2 {
          margin-top: 0;
          margin-bottom: 15px;
        }
        @media only screen and (max-width : 768px) {
          margin-bottom: 0;
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          max-height: 200px;
          overflow: auto;
          // bottom: -100px;
          h2 {
            font-size: 1em;
          }
          p {
            margin: 0;
            font-size: 0.7em;
          }
        }
      }
    }
    #controls {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      .navButton {
        flex: 0 0 50%;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        &:hover {
          .arrow {
            opacity: 0.8;
            transition: all 0.5s ease;
          }
          #arrowLeft {
            transform: translateX(-10px);
          }
          #arrowRight {
            transform: translateX(10px);
          }
        }
      }
      .arrow {
        font-size: 5em;
        opacity: 0.2;
        cursor: pointer;
        flex: 1 0 auto;
        transition: all 0.5s ease;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }
      #arrowLeft {
        margin-left: 30px;
      }
      #arrowRight {
        margin-right: 30px;
        text-align: right;
      }
      @media only screen and (max-width : 768px) {
        height: calc(100% - 60px);
        .arrow {
          margin-top: 60px;
          font-size: 3em;
          opacity: 0.8;
        }
        #arrowLeft {
          margin-left: 10px;
        }
        #arrowRight {
          margin-right: 10px;
        }
      }
    }
  }
}

// MOBILE DRAWER MENU + BUTTON
#menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
  margin: 10px;
  font-size: 1.3em;
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
  @media only screen and (min-width : 768px) {
    display: none;
  }
}
#mobile-menu {
  position: absolute;
  padding: 20px;
  top: 0;
  left: -200px;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  box-shadow: 0px 0px 0px 0px black;
  transition: all 0.5s ease;
  ul {
    margin: 25px 0;
    list-style-type: none;
    padding: 0;
    font-size: 1.6em;
    font-weight: 100;
    li {
      cursor: pointer;
      padding: 5px 10px;
    }
    a.active li {
      border-left: 5px solid #fff;
    }
  }
  &.open {
    left: 0px;
    box-shadow: 0px 0px 10px 0px black;
  }
}

// BACKGROUND - Gradient and 3D Model
#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  canvas {
    width: 100%;
  }

  // gradient (66% to right)
  background: $bkg-light;
  background: -moz-radial-gradient(50% 50%, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
  background: -webkit-gradient(radial, 50% 50%, 0px, center center, 100%, color-stop(0%, $bkg-light), color-stop(100%, $bkg-dark));
  background: -webkit-radial-gradient(50% 50%, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
  background: -o-radial-gradient(50% 50%, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
  background: -ms-radial-gradient(50% 50%, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
  background: radial-gradient(ellipse at 50% 50%, $bkg-light 0%, $bkg-dark 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa', GradientType=1 );

  @media only screen and (max-width : 768px) {
    // gradient
    background: $bkg-light;
    background: -moz-radial-gradient(center, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
    background: -webkit-gradient(radial, center, 0px, center center, 100%, color-stop(0%, $bkg-light), color-stop(100%, $bkg-dark));
    background: -webkit-radial-gradient(center, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
    background: -o-radial-gradient(center, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
    background: -ms-radial-gradient(center, ellipse cover, $bkg-light 0%, $bkg-dark 100%);
    background: radial-gradient(ellipse at center, $bkg-light 0%, $bkg-dark 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa', GradientType=1 );
  }
  #threeBlur {
    filter: blur(3px);
  }
  #darken {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    @media only screen and (max-width : 768px) {
      display: block;
    }
  }
}

// MISC
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
